@model Auction

<form method="post" enctype="multipart/form-data" asp-action="Create">
    <input asp-for="AuctionId" hidden />
    <div class="row">
        <div class="col-10">
            <div class="border p-3 mt-4 row">
                <div class="col-12 pb-2">
                    <h2 class="text-primary">Product</h2>
                    <hr />
                </div>
                <div asp-validation-summary="All"></div>
                <div class="mb-3">
                    <label asp-for="Make"></label>
                    <input asp-for="Make" class="form-control" />
                    <span asp-validation-for="Make" class="text-danger"></span>
                </div>

                <div class="mb-3 col-6">
                    <label asp-for="Model"></label>
                    <input asp-for="Model" class="form-control" />
                    <span asp-validation-for="Model" class="text-danger"></span>
                </div>

                <div class="mb-3 col-6">
                    <label asp-for="BodyType"></label>
                    <input asp-for="BodyType" class="form-control" />
                    <span asp-validation-for="BodyType" class="text-danger"></span>
                </div>

                <div class="mb-3 col-6">
                    <label asp-for="FuelType"></label>
                    <input asp-for="FuelType" class="form-control" />
                    <span asp-validation-for="FuelType" class="text-danger"></span>
                </div>

                <div class="mb-3 col-6">
                    <label asp-for="Year"></label>
                    <input asp-for="Year" class="form-control" />
                    <span asp-validation-for="Year" class="text-danger"></span>
                </div>

                <div class="mb-3 col-6">
                    <label asp-for="Price"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="Mileage"></label>
                    <input asp-for="Mileage" class="form-control" />
                    <span asp-validation-for="Mileage" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="Color"></label>
                    <input asp-for="Color" class="form-control" />
                    <span asp-validation-for="Color" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="EngineCapacity"></label>
                    <input asp-for="EngineCapacity" class="form-control" />
                    <span asp-validation-for="EngineCapacity" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="EnginePower"></label>
                    <input asp-for="EnginePower" class="form-control" />
                    <span asp-validation-for="EnginePower" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="Gearbox"></label>
                    <input asp-for="Gearbox" class="form-control" />
                    <span asp-validation-for="Gearbox" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" class="form-control" rows="6"></textarea>
                    <span asp-validation-for="Description" rows="6" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label for="ImageFile">Upload Image:</label>
                    <input type="file" name="ImageFile" id="ImageFile" onchange="previewImage(this)" />
                </div>
                <div class="col-6">
                    <img id="preview" src="#" alt="Image Preview" style="display: none; width: 100px; height: 100px;" />
                </div>
                <div class="col-12">

                    <button type="submit" class="btn btn-primary" style="width:150px">Save</button>

                    <a asp-controller="Home" asp-action="Index" class="btn btn-danger" style="width:200px">
                        Back To List
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    function previewImage(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById("preview").src = e.target.result;
                document.getElementById("preview").style.display = "block";
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>