@model Auction

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <input asp-for="AuctionId" hidden />
    <div class="row">
        <div class="col-10">
            <div class="border p-3 mt-4 row">
                <div class="col-12 pb-2">
                    <h2 class="text-primary">@(Model.AuctionId != 0 ? "Update" : "Create") Product</h2>
                    <hr />
                </div>
                <div asp-validation-summary="All"></div>
                <div class="mb-3">
                    <label asp-for="Make"></label>
                    <input asp-for="Make" class="form-control" />
                    <span asp-validation-for="Make" class="text-danger"></span>
                </div>

                <div class="mb-3 col-6">
                    <label asp-for="Model"></label>
                    <input asp-for="Model" class="form-control" />
                    <span asp-validation-for="Model" class="text-danger"></span>
                </div>

                <div class="mb-3 col-6">
                    <label asp-for="BodyType"></label>
                    <input asp-for="BodyType" class="form-control" />
                    <span asp-validation-for="BodyType" class="text-danger"></span>
                </div>

                <div class="mb-3 col-6">
                    <label asp-for="FuelType"></label>
                    <input asp-for="FuelType" class="form-control" />
                    <span asp-validation-for="FuelType" class="text-danger"></span>
                </div>

                <div class="mb-3 col-6">
                    <label asp-for="Year"></label>
                    <input asp-for="Year" class="form-control" />
                    <span asp-validation-for="Year" class="text-danger"></span>
                </div>

                <div class="mb-3 col-6">
                    <label asp-for="Price"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="Mileage"></label>
                    <input asp-for="Mileage" class="form-control" />
                    <span asp-validation-for="Mileage" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="Color"></label>
                    <input asp-for="Color" class="form-control" />
                    <span asp-validation-for="Color" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="EngineCapacity"></label>
                    <input asp-for="EngineCapacity" class="form-control" />
                    <span asp-validation-for="EngineCapacity" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="EnginePower"></label>
                    <input asp-for="EnginePower" class="form-control" />
                    <span asp-validation-for="EnginePower" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="Gearbox"></label>
                    <input asp-for="Gearbox" class="form-control" />
                    <span asp-validation-for="Gearbox" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" class="form-control" rows="6"></textarea>
                    <span asp-validation-for="Description" rows="6" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageFile"></label>
                    <input type="file" asp-for="ImageFile" />
                    <span asp-validation-for="ImageFile"></span>
                </div>
                <div class="form-group">
                    <img src="@(Model.ImagePath != null ? Model.ImagePath : "/images/default-image.png")"
                         alt="Product Image" style="width:200px; height:200px" />
                </div>
                <div class="col-12">

                    <button type="submit" class="btn btn-primary" style="width:150px">Update</button>

                    <a asp-controller="Auction" asp-action="Index" class="btn btn-danger" style="width:200px">
                        Back To List
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>